{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Auswertung: Daten-Dienste</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-6 col-xs-12">
      <h2>Wie viele Daten-Dienste bietet eine Kommune an?</h2>
    </div>
    <div class="col-md-6 col-xs-12">
      <canvas id="data_service_count"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function() {
    new Chart(document.getElementById("data_service_count").getContext("2d"), { type: 'bar', data: {{ visualisations['data_service_count']['data']|safe }} });
  });
</script>
{% endblock %}