{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Auswertung: Verschlüsselung</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-2 col-xs-12">
      <canvas id="encryption_yes_no" class="chart-square"></canvas>
    </div>
    <div class="col-md-10 col-xs-12">
      <h2>Anzahl der verschlüsselten Seiten</h2>
      <p>Die meisten Seiten bieten gar keine Absicherung der Kommunikation an.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-2 col-xs-12">
      <canvas id="encryption_quality" class="chart-square"></canvas>
    </div>
    <div class="col-md-10 col-xs-12">
      <h2>Qualität der Absicherung</h2>
      <p>Die Qualität ist sehr durchwachsen.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function() {
    new Chart(document.getElementById("encryption_yes_no").getContext("2d"), { type: 'doughnut', data: {{ visualisations['encryption_yes_no']['data']|safe }} });
    //new Chart(document.getElementById("encryption_yes_no").getContext("2d")).Doughnut({{ visualisations['encryption_yes_no']['data']|safe }}, { });
    new Chart(document.getElementById("encryption_quality").getContext("2d"), { type: 'doughnut', data: {{ visualisations['encryption_quality']['data']|safe }} });
    //new Chart(document.getElementById("encryption_quality").getContext("2d")).Doughnut({{ visualisations['encryption_quality']['data']|safe }}, {});
  });
</script>
{% endblock %}