{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Fragen &amp; Antworten</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="why-ssl">Warum sollten Stadt-, Dorf- oder Landkreis-Websites eine sichere Datenübertragung anbieten?</h2>
      <p>Der Secure Sockets Layer, kurz SSL, sorgt für eine verschlüsselte Verbindung zwischen dem Besucher und dem Server. Dies ist wichtig bei Übertragung persönlicher Daten, also z. B. für Formulare und Online-Dienstleistungen.</p>
      <p>Die Websites der Behörden werden automatisch getestet. Weitere Informationen zu den einzelnen SSL-Features <a href="/faq/ssl">finden Sie auf einer separaten Seite</a>.</p>
    </div>
  </div>
</div>
{% endblock %}