{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Impressum</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Angaben gemäß § 5 TMG:</h2>
      <p>
        Open Knowledge Foundation Deutschland e.V.<br>
        Singerstraße 109<br>
        10179 Berlin
      </p>
      <h2>Projektleitung:</h2>
      <p>
        Ernesto Ruge<br>
        E-Mail: <a href="mailto:ernesto.ruge@okfn.de">ernesto.ruge@okfn.de</a><br>
        Website: <a href="https://sectio-aurea.org/">sectio-aurea.org</a>
      </p>
      <h2>Fachliche Unterstützung:</h2>
      <p>
        Prof. Dr.-Ing. Ulrich Greveler<br>
        Labor für IT-Sicherheit<br>
        Hochschule Rhein-Waal<br>
        Friedrich-Heinrich-Allee 25<br>
        47475 Kamp-Lintfort
      </p>
      <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
      <p>
        Open Knowledge Foundation Deutschland e.V.<br>
        Singerstraße 109<br>
        10179 Berlin
      </p>
    </div>
  </div>
</div>
{% endblock %}