{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Impressum</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Angaben gemäß § 5 TMG:</h2>
      <p>
        Ernesto Ruge<br />
        sectio-aurea.org<br />
        Zechenstraße 27<br />
        44791 Bochum
      </p>
      <h2>Kontakt:</h2>
      <p>
        Telefon: <a href="tel:+49 173 1662174">+49 173 1662174</a><br />
        E-Mail: <a href="mailto:mail@ernestoruge.de">mail@ernestoruge.de</a>
      </p>
      <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
      <p>
        Ernesto Ruge<br />
        Zechenstraße 27<br />
        44791 Bochum
      </p>
    </div>
  </div>
</div>
{% endblock %}