{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Behörden Online Dienste <sup>beta</sup></h1>
    <p>Wie gut ist meine Stadt, mein Dorf, mein Kreis im Internet aufgestellt? Welche Behördengänge kann ich auch online erledigen? Wie viel Sicherheit bietet meine Kommune dabei?</p>
  </div>
</div>
<div class="container">
  {% include 'messages.html' %}
  <div class="row-fluid">
    <form action="#" method="GET" id="fsrf">
      <div class="col-md-4"><h2>Suche nach Name</h2></div>
      <div class="col-md-8" id="fsrb">
        <input type="text" class="form-control" id="fsrt" />
        <div id="fsrtl"></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}