{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Informationen: Sichere Datenübertragung im Web</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="why-ssl">Die verwendeten Kategorien</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-rating col-rating-ssl-1">
      <i class="fa fa-unlock"></i>
    </div>
    <div>
      <h3>Keine Sicherheit</h3>
      <p>Der Host bietet keine Sicherheit bei der Datenübertragung an.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-rating col-rating-ssl-2">
      <i class="fa fa-lock"></i><i class="fa fa-minus"></i>
    </div>
    <div>
      <h3>Schwerwiegendes Sicherheitsproblem bei der Datenübertragung</h3>
      <p>Der Host unterstützt entweder SSLv2, bietet die unsicheren EXPORT-Cipher oder hat die Heartbleed-Sicherheitslücke noch nicht geschlossen. Beides stellt eine schwerwiegende Schwachstelle dar, da es zu einem Verlust der Vertraulichkeit der gesamten Kommunikation oder sogar des Private Keys führen kann. Hier besteht dringlicher Handlungsbedarf.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-rating col-rating-ssl-3">
      <i class="fa fa-lock"></i>
    </div>
    <div>
      <h3>Sicherheitsproblem bei der Datenübertragung</h3>
      <p>Der Host verwendet einen deutlich veralteten Absicherungsmechanismus, so dass es recht einfach ist, diesen zu knacken. Dies bedeutet entweder einen DH-Key von unter 1024 Bit, aktives SSLv3 ohne Fallback SCSV, eine aktive Anon-Cipher, unsichere TLS-Renegotiation oder präferierte RC4- oder MD5-Cipher.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-rating col-rating-ssl-4">
      <i class="fa fa-lock"></i>
    </div>
    <div>
      <h3>Verbesserungswürdige Absicherung</h3>
      <p>Der Host verwendet veraltete Absicherungsmechanismen, welche potentiell ausnutzbare Sicherheitslücken aufweisen. Das bedeutet entweder ein DH-Key unter 2048 Bit, ein EDHC-Key unter 256 Bit, aktives SSLv3 mit aktivem Fallback SCSV, nicht präferierte RC4- oder MD5 Cipher, ein SHA1-Zertifikat, keine Unterstützung für TLS 1.2 oder eine fehlende Weiterleitung auf die HTTPS-Version der Seite.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-rating col-rating-ssl-5">
      <i class="fa fa-lock"></i>
    </div>
    <div>
      <h3>Gute Absicherung</h3>
      <p>Der Host verwendet eine zeitgemäße Absicherungskonfiguration. Das bedeutet: ein DH-Key von 2048 Bit oder besser, ein EDHC-Key von 256 oder besser, keine unsicheren Cipher, keine offenen Sicherheitslücken, ein SHA2-Zertifikat und eine Weiterleitung auf die HTTPS-Version der Seite.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-rating col-rating-ssl-6">
      <i class="fa fa-lock"></i><i class="fa fa-plus"></i>
    </div>
    <div>
      <h3>Ausgezeichnete Absicherung</h3>
      <p>Der Host verwendet eine zukunftsfähige Absicherungskonfiguration. Das bedeutet zusätzlich zur zuvor genannten zeitgemäßen Konfiguration die Unterstützung des HSTS-Headers und die Unterstützung von Fallback SCSV.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-2 col-rating col-rating-ssl-0">
      <i class="fa fa-question-circle"></i>
    </div>
    <div>
      <h3>Host noch nicht gescannt</h3>
      <p>Der Host wurde noch nicht gescannt. Dies passiert üblicherweise bei neu hinzugefügten Hosts.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="why-ssl">Wofür braucht eine Seite SSL?</h2>
      <p>Der Secure Sockets Layer, kurz SSL, sorgt für eine verschlüsselte Verbindung zwischen dem Besucher und dem Server der Website. Dies ist wichtig bei Übertragung personenbezogener Daten, also z. B. für Shops oder Kontaktformulare. Aber auch für reguläre Websites lohnt es sich, SSL zu nutzen, da es leichte SEO-Vorteile bringt und das Identifizieren von für die Überwachung lohnenswerten Ziele erschwert.</p>
      <p>SSL braucht ein sogenanntes SSL-Zertifikat, welches speziell für die Domain beschafft werden muss. </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="price">Macht ein teureres Zertifikat eine Seite sicherer?</h2>
      <p>Nein. Solange das Zertifikat ein SHA2-Zertifikat ist, ist die technische Sicherheit gegeben. Teurere Zertifikate verbessern die Überprüfung der Identität des Antragstellers beim Kauf. Dies verbessert aber nicht die Übertragungssicherheit.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="ssl-vs-tls">Welcher Unterschied besteht zwischen SSL und TLS?</h2>
      <p>SSL ist der verbreitete Oberbegriff für verschiedene Protokolle: SSL 2, SSL 3, TLS 1.0, TLS 1.1, TLS 1.2. Die beiden Protokolle SSL 2 und SSL 3 sollten nicht mehr eingesetzt werden, da sie schwerwiegende Sicherheitslücken enthalten. Lediglich TLS 1.2 ist nach Stand der Technik sicher. Korrekterweise müsste man also von TLS-Verschlüsselung reden. Allerdings hat sich der Begriff SSL so sehr eingebürgert, dass mit SSL nahezu immer TLS gemeint wird.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="extended-validation">Was bedeutet die grüne Adresszeile mit Unternehmensnamen?</h2>
      <p>Bei den grünen Adresszeilen handelt es sich um Extended-Validation-Zertifikate, kurz EV-Zertifikate. Diese bringen keinen Sicherheitsgewinn bei der Datenübertragung, visualisieren dem Seitenbesucher aber, dass besondere Kriterien bei der Zertifikatsvergabe eingehalten wurden, weswegen sie sich beispielsweise für Webshops eignen können. EV-Zertifikate sind erheblich teurer als die normalen domainvalidierten Zertifikate.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="sslfiles">Was bedeuten diese ganzen SSL-Dateien?</h2>
      <p>Wenn man das erste Mal mit SSL zu tun hat, sind die verschiedenen Dateien oft irritierend. Deswegen hier eine Funktionsbeschreibung der Dateien.</p>
      <ul>
        <li>Der <strong>Private Key</strong>, meist mit der Dateiendung .key, ist der Kern der Verschlüsselung. Wenn irgendwer unerlaubt den Key bekommt, kann er damit die Verschlüsselung brechen.</li>
        <li>Mit dem <strong>Zertifikat</strong>, meist mit der Dateiendung .crt oder .pem, sagt der SSL-Zertifikatgeber, dass der eingesetzte Key ok ist.</li>
        <li>Das <strong>Certificate Signing Request, kurz CSR</strong>, meist auch mit der Dateiendung .csr, ist die Anfrage an den SSL-Zertifikatgeber, aus dem dann das Zertifikat generiert wird. Das CSR wird nach der Erstellung des Zertifikates nicht mehr gebraucht.</li>
        <li>Das <strong>Root-Zertifikat</strong> ist die Identität des SSL-Zertifikatgebers. Diese Zertifikate sind in Ihrem Browser enthalten.</li>
        <li>Oft gibt es noch <strong>Zwischenzertifikate</strong>, so dass <strong>Zertifikatketten</strong> gebildet werden. Diese haben meist auch die Endung .crt und beinhalten alle Zertifikate von unten nach oben, d.h. oben steht das Zertifikat für die eigene Seite, anschließend das / die Zwischenzertifikat(e) bis hoch zum Root-Zertifikat. Das Root-Zertifikat muss in der Kette nicht enthalten sein.</li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="sslv3">Warum sollte SSL Version 3 abgeschaltet werden?</h2>
      <p>Von SSL v3 wurde schon länger abgeraten. Seit <a href="http://www.heise.de/security/meldung/Poodle-Experten-warnen-vor-Angriff-auf-Internet-Verschluesselung-2424122.html">im Oktober 2014 die POODLE-Attacke veröffentlicht</a> wurde, kann man SSL 3 auch gleich auf die Verschlüsselung verzichten - es macht einfach keinen Unterschied. Wenn man modernere Verfahren (TLS 1.0 bis TLS 1.2) unterstützt und mit TLS_FALLBACK_SCSV eine Dowgrade-Attacke unterbindet, ist ein aktiviertes SSL 3 weniger problematisch, da der Browser dann nur die moderneren Verfahren nutzt. Aber auch mit TLS_FALLBACK_SCSV ist ein aktiviertes SSL 3 ein Sicherheitsrisiko, dem man sich ohne Not aussetzt.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="sslv2">SSLv2</h2>
      <p></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="sha1">Warum sollte ein SHA2- (und kein SHA1-) Zertifikat genutzt werden?</h2>
      <p>SHA1 steht schon länger im Verdacht, nicht sicher zu sein. Schrittweise <a href="http://www.heise.de/security/meldung/Todesstoss-fuer-SHA-1-steht-bevor-2849484.html">werden praktikable Angriffe darauf entwickelt</a>. Dies hat die Browserhersteller dazu bewogen, bei einem SHA1-Zertifikat je nach Ablaufdatum des Zertifikates ein gelbes oder sogar ein rotes Schloss in der Browserzeile anzuzeigen. SHA1-Zertifikate müssen nicht nur beim Seiten-Zertifikat verhindert werden, sondern auch bei allen Zwischenzertifikaten.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="pfs">Was ist (Perfect) Forward Secrecy?</h2>
      <p>Perfect Forward Secrecy stellt eine Protokolleigenschaft dar, die zusichert, dass eine aufgezeichnete verschlüsselte Kommunikation nicht später entschlüsselt werden kann, nachdem der private Schlüssel in falsche Hände geraten ist. Die Folgen eines Schlüsselverlustes werden dadurch gemindert.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="strong-dh">Warum sollte ein starker DH-Key eingesetzt werden?</h2>
      <p>Der Diffie-Hellman-Schlüsselaustausch ist ein häufig genutzter, sicherer Baustein in kryptographischen Protokollen, darunter auch TLS, mit dessen Hilfe ein Schlüssel über einen unsicheren Kanal vereinbart werden kann. Leider werden gelegentlich auch schwache, d. h. zu kurze, Schlüssel eingesetzt, da dies in früheren Zeiten eine Vorgabe von Software-Export-Restriktionen war. Angreifer können sich diese noch heute oft implementierte Schwächung zunutze machen, indem sie eine bestehende Verbindung überwachen und Pakete in den Datenstrom einfügen, die zu einem Downgrade auf unsichere Schlüssellängen führen, womit sie schließlich den kurzlebigen Session-Key ermitteln können (Logjam-Angriff).</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="rc4">Warum sollte RC4 nicht mehr genutzt werden?</h2>
      <p>Der Stromverschlüsselungsalgorithmus RC4 weist erhebliche Sicherheitsmängel auf. Aus diesem Grunde wird beispielsweise der früher zur Absicherung von WLANs genutzte, auf RC4 basierende WEP-Standard heute als unzureichend angesehen, da es Werkzeuge gibt, mit der das Verfahren gebrochen werden kann. In älteren TLS-Versionen wird RC4 zur Verschlüsselung der Session verwendet.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="hsts">Was ist HSTS und wann sollte es eingesetzt werden?</h2>
      <p>HSTS steht für HTTP Strict Transport Security und bietet einen Mechanismus, mit dem die Aushebelung der Verschlüsselung unterbunden wird. Mit HSTS wird der Browser angewiesen, für einen Folgezeitraum nur noch verschlüsselte Verbindungen zum Server zuzulassen, womit Man-in-the-Middle-Angriffe verhindert werden können.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="scsv">Was ist TLS_FALLBACK_SCSV und warum sollte es eingesetzt werden?</h2>
      <p>Mit dem TLS_FALLBACK_SCSV-Wert signalisiert der Browser einem Webserver, dass der Verbindungsaufbau über einen Fallback-Mechanismus ausgeführt wird, der potentiell von einem Angreifer provoziert worden sein könnte. Der Server erfährt auf diese Weise, dass der Browser ein besseres (sichereres) Verfahren nutzen könnte und verhindert dann den Verbindungsaufbau, wenn er TLS_FALLBACK_SCSV unterstützt. Auf diese Weise kann beispielsweise der POODLE-Angriff unterbunden werden.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="md5">MD5</h2>
      <p>MD5 (Message-Digest Algorithm 5) ist eine von Ronald L. Rivest entwickelte und äußerst weit verbreitete kryptographische Hashfunktion, die 128-Bit-Hashwerte erzeugt. Eine häufige Anwendung ist die Überprüfung von Downloads anhand ihres MD5-Fingerabdrucks. Die Funktion wird als gebrochen angesehen, da es u. a. mit geringem Aufwand möglich ist, Nachrichten zu erzeugen, die sich zwar unterscheiden, jedoch den gleichen Hashwert aufweisen. Keinesfalls sollte MD5 heute noch verwendet werden.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="ccs">CCS-Injection</h2>
      <p>Diese 2014 entdeckte OpenSSL-Schwachstelle erlaubt es einem Angreifer, der aktiv in die Kommunikation eingreifen kann, Server und Client zur Verwendung schwacher Schlüssel zu zwingen, um dann die Verbindung ablauschen oder Datenpakete verändern zu können. Der Fehler betraf nicht das TLS-Protokoll selbst sondern seine Implementierung in OpenSSL. Ein Update auf Versionen ab 1.0.1h schließt die Sicherheitslücke.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="ccs">TLS-Kompression</h2>
      <p>Im Jahre 2012 wurde eine Schwachstelle bei der Verwendung von Datenkompression im TLS-Protokoll entdeckt, die es einem aktiven Angreifer ermöglicht, über die Manipulation der Kommunikation mit dem Browser und die Auswertung von Längen verschlüsselter Datenpakete Rückschlüsse auf zuvor vereinbarte geheime Schlüssel zu ziehen. Im Erfolgsfall kann der Angreifer dann die Sitzung übernehmen. Durch Deaktivierung der unsicheren Kompressionsmechanismen im Server oder im Browser wird der Angriff verhindert.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Wo gibt es weiterführende Informationen?</h2>
      <p>Der Hoster Security Check soll nur eine kurze Übersicht SSL und Dateirechte geben. Hier eine Liste mit spannenden weiteren Informationen:</p>
      <ul>
        <li><a href="https://www.ssllabs.com/ssltest/">Der Server-Test von SSL Labs</a> ist sehr umfangreich und präzise. Er hat zudem sehr wertvolle, aber eben auch sehr technische Erläuterungen. Wie das Rating zustande kommt, steht in <a href="https://www.ssllabs.com/downloads/SSL_Server_Rating_Guide.pdf">einer separaten PDF.</a></li>
        <li>Das <a href="https://www.feistyduck.com/books/openssl-cookbook/">kostenlose SSL Cookbook von Ivan Ristić</a> ist eine große Hilfe, um SSL zu verstehen.</li>
        <li>Mozilla gibt auf seiner <a href="https://wiki.mozilla.org/Security/Server_Side_TLS">Server Side TLS Wiki-Seite</a> viele wertvolle Tips zu fast allen SSL-Themen.</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}