{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Informationen: Über das Projekt</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Warum behoerden-online-dienste.de?</h2>
      <p>Viele Behörden-Gänge könnte man sich sparen und sein Anliegen auch online erledigen. Doch muss der Dienst dafür auch in seiner eigenen Kommune verfügbar sein - und er sollte sicher sein. Diesem Thema widmet sich diese Seite. Um genau zu sein, möchten wir folgende Fragestellungen beantworten.</p>
      <ul>
        <li>Wo finde ich als Bürger den gewünschten eGovernment-Dienst meiner Kommune (sofern vorhanden)?</li>
        <li>Wie sicher ist der gewünschte eGovernment-Dienst?</li>
        <li>Welche Dienste kann ich als Kommune anbieten? Wie kann ich diese sicherer machen?</li>
        <li>Wo stehen Deutschlands Kommunen in Sachen eGovernment?</li>
      </ul>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Wer steht hinter behoerden-online-dienste.de?</h2>
      <p>Das Projekt bei der Open Knowledge Foundation Deutschland e.V. beheimatet. Es erhält fachliche Unterstützung von Prof. Dr.-Ing. Ulrich Greveler vom Labor für IT-Sicherheit der Hochschule Rhein-Waal.</p>
      <p>Die Idee hinter der Seite entstand im Vorfeld des OpenDataDay 2016. Dennis Knorr, <a href="https://robbi5.de/">Maximilian Richt</a> und <a href="https://sectio-aurea.org/">Ernesto Ruge</a> arbeiten gemeinsam an unserer Partnerseite <a href="https://jetzt">https.jetzt</a> und an behoerden-online-service.de.</p>
    </div>
  </div>
</div>
{% endblock %}