{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Informationen: Daten</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2 id="why-ssl">Wofür braucht eine Seite SSL?</h2>
      <p>Der Secure Sockets Layer, kurz SSL, sorgt für eine verschlüsselte Verbindung zwischen dem Besucher und dem Server der Website. Dies ist wichtig für jede Form persönlicher Daten, also z.B. für Shops oder Kontaktformulare. Aber auch für reguläre Website lohnt es sich, SSL zu nutzen, da es leichte SEO-Vorteile bringt und das Identifizieren von für die Überwachung lohnenswerten Ziele erschwert.</p>
      <p>SSL braucht ein sogenanntes SSL-Zertifikat, welches speziell für die Domain bestellt werden muss. </p>
    </div>
  </div>
</div>
{% endblock %}