{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Informationen: FAQ</h1>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Warum sollten Stadt-, Dorf- oder Landkreis-Websites Verschlüsselung anbieten?</h2>
      <p>Der Secure Sockets Layer, kurz SSL, sorgt für eine verschlüsselte Verbindung zwischen dem Besucher und dem Server. Dies ist wichtig für jede Übertragung personenbezogener Daten, also z. B. für Formulare und Online-Dienstleistungen.</p>
      <p>Die Websites der Behörden werden automatisch getestet. Weitere Informationen zu den einzelnen SSL-Features <a href="/info/encryption">finden Sie auf einer separaten Seite</a>.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>Die nächsten Schritte</h2>
      <p>Folgende nächste Schritte sind geplant:</p>
      <ul>
        <li>Nutzer-Interface zum Eintragen und Verbessern von Diensten</li>
        <li>Einpflegen weiterer Quellen für Dienste</li>
        <li>Test auf den DROWN-Angriff</li>
        <li>Test auf das Einbinden unsicher Inhalte</li>
        <li>Suche von Partnern, welche weitere Bundesländer umnfangreich testen lassen / den Test finanzieren</li>
        <li>JSON-Schnittstelle</li>
        <li>Ein besseres Design</li>
      </ul>
      <p>Wir freuen uns über weitere Ideen, Vorschläge und Patches!</p>
    </div>
  </div>
</div>
{% endblock %}