{% extends "bootstrap/base.html" %}

{% block title %}Behörden Online Dienste{% endblock %}

{% block head %}
{{super()}}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="description" content="{% block meta_description %}{% endblock %}" />
<meta name="publisher" content="sectio-aurea.org" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="Behörden Online Dienste" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://behoerden-online-dienste.de/" />
<meta property="og:image" content="https://behoerden-online-dienste.de/static/img/og.png" />
<meta property="og:description" content="Welche Online-Dienstleistungen bietet meine Stadt, mein Dorf, mein Landkreis? Wie sicher ist das? Diese Fragen sollen auf behoerden-online-dienste.de beantwortet werden." />


<link rel="icon" type="image/vnd.microsoft.icon" href="/static/img/favicon.ico" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/static/img/favicon.ico" />
{% endblock %}

{% block styles %}
<style>
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
</style>
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='lib/font-awesome/4.5.0/css/font-awesome.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/default.css')}}?v=0.0.2">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" id="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Behörden Online Dienste <sup>beta</sup></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Start</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Auswertung <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-inverse">    
            <li><a href="/analysis/basics">Basis-Informationen</a></li>
            <li><a href="/analysis/egovernment">eGovernment-Dienste</a></li>
            <li><a href="/analysis/data">Daten-Dienste</a></li>
            <li><a href="/analysis/encryption">Verschlüsselung</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informationen <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-inverse">
            <li><a href="/info/ueber">Über Uns</a></li>
            <li><a href="/info/services">Dienste-Übersicht</a></li>
            <li><a href="/info/encryption">Verschlüsselung</a></li>
            <li><a href="/info/data">Daten &amp; API</a></li>
            <li><a href="/info/faq">FAQ</a></li>
          </ul>
        </li>
        <li><a href="/impress">Impressum</a></li>
        <li><a href="/privacy">Datenschutz</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}


{% block scripts %}
<hr />
<footer class="footer">
  <div class="container">
    <p class="text-muted">Die Seite ist zur Zeit im Beta-Status, d.h. es können noch Fehler auftreten. Sollten Ihnen fehlerhafte Daten, URLs oder andere Fehler auffallen, <a href="mailto:ernesto.ruge@okfn.de">schreiben Sie uns bitte eine kurze E-Mail</a>. Danke!</p>
    <p class="text-muted" style="text-align: center;">Behörden Online Dienste ist ein Projekt der <a href="https://okfn.de/">Open Knowledge Foundation Deutschland e.V.</a>.</p>
  </div>
</footer>
{{super()}}
<script src="{{url_for('.static', filename='lib/chart-js/2.0.1/dist/Chart.js')}}"></script>
<script src="{{url_for('.static', filename='js/default.js')}}?v=0.0.2"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.behoerden-online-dienste.de"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.sectio-aurea.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 84]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.sectio-aurea.org/piwik.php?idsite=84" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{% endblock %}